* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Block with all content */
/* content height is defined in % within corresponding tag */

.container {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5%;
  font-family: "Raleway", sans-serif;
}

/* Header */

.header {
  flex-basis: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0a232a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%237de38d' fill-opacity='0.1' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.header .logo img {
  width: 150px;
}

.header .social ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.header .social ul li {
  list-style: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.header .social ul li a {
  color: #ffffff;
  opacity: 0.75;
  font-size: 22px;
}

.header .social ul li a:hover {
  opacity: 1;
  cursor: pointer;
}

/* Navigation */

.nav {
  flex-basis: 7%;
}

.nav ul {
  height: 100%;
  list-style: none;
  display: flex; /* displays nav items on the same line */
  justify-content: center;
  gap: 5px;
}

.nav ul li {
  flex: 1;
  font-size: 13px;
  font-weight: 600;
  display: flex; /* Center the text in the center of the item */
  align-items: center;
  justify-content: center;
}

.nav ul li:hover {
  background-color: #F6EA7F;
  cursor: pointer;
}

.nav ul li a {
  color: #000000;
}

/* Featured */

.featured {
  flex-basis: 20%;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.featured .card {
  flex: 1;
}

.featured .card img {
  max-width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.featured .card:hover .img-filter {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.featured .card:hover .highlight {
  background-color: #F6EA7F
}

.featured .card:hover {
  cursor: pointer;
}

.featured .card h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  line-height: 1.4;
  padding: 8px 0;
}

/* Main Section */

.main-section {
  flex-basis: 50%;
  background-color: #c7c7c7;
}

.main-content {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-color: #4b4b4d;
}

/* Footer */

.footer {
  flex-basis: 8%;
  background-color: #0a232a;
  display: flex; /* Center the text in the center of the footer */
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 200;
}  

.footer a {
  color: #ffffff;
  cursor: pointer;
}

.footer a:hover {
  background-color: #ffffff;
  color: #000000;
}